#intro {
    background-image: url(./images/background-kawa.png);
    height: 100vh;
  }
  .bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }

.profile{
  border-radius: 50%;
}
.wel{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 70px;
  font-family: 'Kalam', cursive !important;
  color:rgb(255, 255, 255);
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 60px;
  font-family: garamond;
  color:rgb(255, 255, 255);
}
.education{
  margin-bottom: 10%;
  margin-top: 10%;
}
.eduskill{
  margin-top: 10%;
  color:white;
}
.edu-skill{
  margin-bottom: 10%;
}
.edu{
  border-radius: 25%;
}
.footer-img{
  border-radius: 50%;
}